/* FONT-FACE */
@font-face {
    font-family:"Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family:"Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family:"Roboto black";
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family:"Roboto thin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}


body{
    
    font-family:"Roboto Regular";
    color: black;
}
h2,h3,h4,h5,h6{
    font-family:"Roboto Bold";
    
}
h1{
    font-size: 7rem;
    font-family:"Roboto black";
    margin: 120px 0px 30px 0px;
    
}
li{
    padding: 0px 20px 0px 20px;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
footer{
    background-color: gray;
    text-align: center;
}


.Hautpage {
    list-style: none;
    font-family:"Roboto Bold";
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    align-items: center; 
    
    
}

.logo1{ 
    padding: 0px 800px 0px 0px ;

}

.liste1{
    
    border-left: 2px solid black;

} 

.section1{
    background-image: url(../img/back.jpg);
    width: 100vw;
    height: 600px;
    margin: 0px 0px 0px -10px;
    background-repeat: no-repeat;
    position: relative;
    
    
    
    
}
.hone{
    padding: 10px 200px 0px 200px;
    position: relative;
    text-align: center;
    
    
}

.btn1{
    background-color:rgb(221, 88, 110);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 30px;
    margin: 0px 80px 0px 0px;
    

}

.btn1:hover{
    background-color: white;
    color: rgb(221, 88, 110);
    border: 1px solid rgb(221, 88, 110) ;
}

.partie1{
    text-align: center;
    margin: 0px 0px 50px 00px;
}

.photo1{
    
    width: 50vw;
    margin: 0px 0px 0px 200px;
    display: inline-block;
    


}

.partie2{
    display: inline-block;
    
    margin: 0px 0px 0px 100px;
    padding: 0px 200px 0px 0px ;
   
    
}
.section2{
    display: flex;
 
}
.liste2{
    font-size: 20px;
    list-style: "-";
    font-family:"Roboto thin";
}
.liste3{
    font-size: 20px;
    list-style: "-";
    font-family:"Roboto thin";
}

.btn2{
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    color: rgb(221, 88, 110) ;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(221, 88, 110) ;

}

.btn2:hover{
    background-color: rgb(221, 88, 110);
    color: white;
    
}

.partie3{
    text-align: center;
    margin: 70px 550px 10px 550px;


}

.ligne1{
    width: 25vw;
}
.parag1{
    font-size: 23px;
    margin: 0px 0px 50px 0px;
}

.partie4{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.comprendre{
    /* border: 1px solid black; */
    width: 20vw;
    margin: 20px 0px 20px 300px;
    text-align: center;
    
}

.pouvoir{
    /* border: 1px solid black; */
    width: 20vw;
    margin: 20px 300px 20px 200px;
    text-align: center;
}

.potentiel{
    /* border: 1px solid black; */
    width: 20vw;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.sens{
    /* border: 1px solid black; */
    width: 20vw;
    margin: 0px 0px 0px 200px;
    text-align: center;
}
.sources{
    font-size: 10px;
    margin: 0;
}
.parag2{
    margin: 10px 0px 0px 0px;
}
.titre1{
    margin: 70px 0px 0px 0px;
}

.partie5{
    text-align: center;
    margin: 0px 600px 0px 600px;
}

.parag3{
    margin: 0px 0px -30px 0px;
}

.partie6{
    display: flex;
    justify-content: center;
    margin: 70px 0px 0px 0px;
}

.talents{
    /* border: 1px solid black; */
    width: 25vw;
    height: 300px;
    text-align: center;
    position: relative;
    margin: 0px 200px 0px 0px ;

}

.carrieres{
    /* border: 1px solid black; */
    width: 25vw;
    height: 300px;
    text-align: center;
    position: relative;

}

.commercial{
    /* border: 1px solid black; */
    width: 25vw;
    height: 300px;
    text-align: center;
    position: relative;
    margin: 0px 0px 0px 200px ;
}

.btn3{
    background-color: white;
    color:rgb(221, 88, 110);
    border-radius: 5px;
    border: 1px solid rgb(221, 88, 110);
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-size: 15px;
    position: relative;
    top: 20px;
    font-family:"Roboto Bold";
}

.btn3:hover{
    background-color: rgb(221, 88, 110);
    color: white;
}

.btn4{
    background-color: white;
    color:rgb(221, 88, 110);
    border-radius: 5px;
    border: 1px solid rgb(221, 88, 110);
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-size: 15px;
    position: relative;
    top: 60px;
    font-family:"Roboto Bold";
    
}

.btn4:hover{
    background-color: rgb(221, 88, 110);
    color: white;
}

.btn5{
    background-color: white;
    color:rgb(221, 88, 110);
    border-radius: 5px;
    border: 1px solid rgb(221, 88, 110);
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    font-size: 15px;
    position: relative;
    top: 60px;
    font-family:"Roboto Bold";
}

.btn5:hover{
    background-color: rgb(221, 88, 110);
    color: white;
}

.parag4{
    font-size: 20px;
    
}



.titre2::after{
    content: "";
    display: block;
    width: 50%;
    height: 20px;
    background-color: cyan;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in;
}

.titre3{
    margin: -65px 0px 50px 0px;
}

.titre4::after{
    content: "";
    display: block;
    width: 50%;
    height: 20px;
    background-color: yellow;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in;
}

.titre5::after{
    content: "";
    display: block;
    width: 70%;
    height: 20px;
    background-color: purple;
    margin: 0 auto;
    margin-top: 1rem;
    transition: all 0.2s ease-in;
}

.partie7{
    text-align: center;
    margin: 70px 0px 100px 0px;
}

.partie8{
    display: flex;
    justify-content: center;
}

.directeur{
    border: 1px solid cyan;
    width: 20vw;
    text-align: center;
    position: relative;
    margin: 0px 80px 0px 0px;
}

.sales{
    border: 1px solid cyan;
    width: 20vw;
    height: 400px;
    text-align: center;
    position: relative;
    margin: 0px 0px 0px 0px;
}

.marketing{
    border: 1px solid cyan;
    width: 20vw;
    text-align: center;
    position: relative;
    margin: 0px 0px 0px 80px;
}

.photo2{
    display: flex;
   
    position: absolute;
    bottom: 370px;
    left: 150px;
}


.parag5{
    margin: -30px 0px 40px 0px;
}

.parag6{
    font-size: 15px;
    margin: 10px 30px 10px 30px;
}

.partie9{
    text-align: center;
    margin: 70px 0px 0px 0px;
}

.pouvoirs{
    
    
    display: inline-block;
    margin: 0px 100px 50px 0px;
    /* padding: 0px 100px 0px 0px ; */
    height: 200px;
    width: 60vw;
    
    
}

.lignecyan{
    border-bottom:2px solid cyan;
    width: 70vw auto;
    margin: 50px 0px 50px 0px;
}
.activer{
    display: inline-block;
    margin: 0px 0px 100px 0px;
    /* padding: 0px 100px 0px 0px ; */
    height: 200px;
    width: 60vw;
}

.photo3{
    margin: 30px 50px -20px 200px;
    display: inline;
    height: 200px;
    
}

.parag7{
    margin: -20px 0px 40px 0px;
}

.btn6{
    background-color: white;
    color:rgb(221, 88, 110);
    border-radius: 5px;
    border: 1px solid rgb(221, 88, 110);
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    
    font-size: 15px;

}
.btn6:hover{
    background-color: rgb(221, 88, 110);
    color: white;
    
}

.partie11{
    display: inline-block;
    width: 20vw;
   
    text-align: start;
   
}

.logo2{
    display: inline-block;
    width: 7vw;
    border-right: 2px solid black;
    margin: 20px 10px 0px 10px;
    padding: 0px 20px 0px 0px;
    

}


.partie12{
    list-style:none;
    
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    align-items: center; 
    font-family:"Roboto thin";
    
}

.liste4{
    list-style:none;
    border-left: 1px solid black;

} 

@media screen and (max-width:576px) {


    .Hautpage{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 0px 0px 0px 0px; */
        
        
    
    }



    .liste1{
        border:none;
        padding: 10px 0px 0px 0px;
        text-align: center;
    }
    .logo1{ 
        padding: 0px 0px 10px 0px ;
    
    }
    h1{
        font-size: 3rem;
        
    }

    .hone{
        padding: 10px 50px 0px 50px;
        
        
        
    }
    .btn1{
       
        font-size: 20px;
        margin: 0px 30px 0px 30px;
        
    
    }
    
    .photo1{
    
        width: 70vw;
        margin: 0px 0px 0px 50px;
        
        
    
    
    }
    .partie2{
        display: flex;
        flex-direction: column;
        
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px ;
       
        
    }

    .section2{
        display: flex;
        flex-direction: column;
     
    }
    .partie3{
        text-align: center;
        margin: 30px 0px 0px 0px;
    
    
    }

    .ligne1{
        width: 50vw;
    }

    .partie4{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .comprendre{
        
        width: 40vw;
        margin: 50px 0px 30px 0px;
        text-align: center;
        
    }
    
    .pouvoir{
        
        width: 40vw;
        margin: 20px 0px 30px 0px;
        text-align: center;
    }
    
    .potentiel{
        
        width: 40vw;
        margin: 0px 0px 30px 0px;
        text-align: center;
    }
    .sens{
        
        width: 40vw;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }

    h3{
        font-size: 22px;
    }
    .partie5{
        text-align: center;
        margin: 0px 00px 0px 00px;
    }
    .partie6{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 70px 0px 0px 0px;
    }
    .talents{
        
        width: 50vw;
        margin: 0px 0px 90px 0px ;
    
    }
    
    .carrieres{
       
        width: 50vw;
        
        margin: 0px 0px 90px 0px ;
    
    }
    
    .commercial{
        
        width: 70vw;
        margin: 0px 0px 50px 0px ;
    }

    .partie8{
        display: flex;
       flex-direction: column;
       align-items: center;
    }

    .directeur{
        
        width: 50vw;
        height: 450px;
        margin: 0px 0px 90px 0px;
    }
    
    .sales{
        width: 50vw;
        margin: 0px 0px 90px 0px;
        height: 450px;
    }
    
    .marketing{
        height: 450px;
        width: 50vw;
        margin: 0px 0px 0px 0px;
    }
    .photo2{
        display: flex;
       
        position: absolute;
        bottom: 430px;
        left: 90px;
    }

    .pouvoirs{
    
    
        display: inline-block;
        margin: 0px 0px 0px 0px;
        /* padding: 0px 100px 0px 0px ; */
        height: 200px;
        width: 80vw;
        
        
    }
    .photo3{
        margin: 0px 0px 0px 00px;
        display: inline;
        height: 200px;
        
    }

    .partie10{
        text-align: center;
        margin: 10px 0px 50px 0px;
    }
    
    /* footer{
        background-color: gray;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    } */
    .logo2{
        display:inline;
        width: 15vw;
        
        border: none;
        
        text-align: center;

        
    
    }
    .partie11{
        display:inline;
        width: 20vw;
        text-align: center;
        
        
        
       
    }

    
}
